/** 主题 **/

.layui-bg-black .layui-side {
    background-color:#3A3D49 ;
}

.layui-bg-black .layui-body {
    border-top: 5px solid #1AA094;
    border-left: 2px solid #1AA094;
    background: #fff;
}

.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls .layui-nav-item > a { color:#000; }
.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls a span.layui-nav-more{border-color:#333 transparent transparent;}
.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls a span.layui-nav-more.layui-nav-mored{ border-color:transparent transparent #333;}
.layui-bg-black .layui-header .layui-layout-right.layui-nav  .layui-this,
.layui-bg-black .layui-header .layui-layout-right.layui-nav  .layui-this a,
.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls.layui-nav  .layui-this,
.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls.layui-nav  .layui-this a{
    background-color: transparent;
    color: black;
}
.layui-bg-black .layui-header .layui-layout-right.layui-nav .layui-nav-child a:hover,
.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls.layui-nav  .layui-nav-child a:hover {
    color: #fff;
    background-color: #5FB878;
}

.layui-bg-black .layui-body .layui-tab  .layadmin-tab-ctrls .layui-nav-child dd.layui-this a:hover {
    background-color: #5FB878;
    color: #fff;
}

.layui-bg-black .layui-body .layui-tab .layui-tab-title li{
    color: black ;
}
.layui-bg-black  .layui-body .layui-tab .layui-tab-title .layui-this{
    background-color: #1AA094;
    color: white;
}

.layui-bg-black  .layui-body .layui-tab-content{ background-color: #F2F2F2; }
.layui-bg-black  .layui-body .layui-tab-content .layui-tab-item{background-color: white;}
.layui-bg-black .layui-footer{ color: black;}

/**================== 菜单隐藏 样式 =======================**/
.layadmin-layout-mune-hide .layui-side .layui-nav.layui-nav-tree  .layui-this,
.layadmin-layout-mune-hide .layui-side .layui-nav.layui-nav-tree  .layui-this a{
    background-color: transparent;
}
